body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  background-color: #231f2a
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

img {
  width: 300px;
  height: 300px;
}

.wave {
  background: rgba(114, 117, 121, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 250px;
    flex-direction: column;
    
 
    
    
}

#game1{
    justify-content: center;
    align-items: center;
    display: flex;

    
;


}


#dollar_img {
  width: 450px;
  height: 450px;
}

.main1 {
    display: flex;
    justify-content: center;
}

.p{
    font-size: 3em;
    max-width: fit-content;
    color: aliceblue;
}

h1 {
    max-width: fit-content;
    color: aliceblue;
}

#money_amount{
    color: aliceblue;
    font: 4em sans-serif;
    margin: 30px;
    margin-bottom: 45px;
}

#gamlogo{
    width: 450px;
    height: 450px;
}

#roulett{
    width: 250px ;
    height: 250px;
}

#horselogo{
  width: 250px;
  height: 250px;
}

#gamestart{
  width: 250px;
  height: 250px;
}

#horse1 {
  position: relative;
  left: 0px;
}

#horse2 {
  position: relative;
  left: 0px;
}

#horse3 {
  position: relative;
  left: 0px;
}

#horse4 {
  position: relative;
  left:   0px;
}



#game3 {
  width: max-content;
  display: flex;
  flex-direction: column;

}

.hestcol {
  display: flex;
  flex-direction: column;
}

.moneylogo {
  align-items: center;
  text-align: center;
}

#game2 {
  
}

h2 {
  margin: 6px;
}

.game1{
  left: 400px; ;
}

#slotgif{
  width:700px ;
  height:700px ;
  display:flex ;
  flex-direction: column;
  top: 450px;
  left: 150px;
  position: absolute;

}
#slotgif2{
  width:700px ;
  height:700px ;
  display:flex ;
  flex-direction: column;
  top: 450px;
  left: 2300px;
  position: absolute;

}