@mixin (sp-layout) {
    @media screen and (max-width: 750px) {
      @content;
    }
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  
  
    &::before, &::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }
  
    &::before {
      transform: rotate(45deg);
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
  
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
  
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 225px;
    flex-direction: column;
    
 
    
    
}

#game1{
    justify-content: center;
    align-items: center;
    display: flex;

    
;


}

.main1 {
    display: flex;
    justify-content: center;
}

.p{
    font-size: 3em;
    max-width: fit-content;
    color: aliceblue;
}

h1 {
    max-width: fit-content;
    color: aliceblue;
}

#money_amount{
    color: aliceblue;
    font: 4em sans-serif;
}

#gamlogo{
    width: 300px;
    height: 300px;
}

#roulett{
    width: 150px ;
    height: 150px;
}

#horselogo{
  width: 150px;
  height: 150px;
}

#gamestart{
  width: 150px;
  height: 150px;
}

#horse {
  position: relative;
  left: -600px;
}

#game3 {
  width: max-content;
}



